<!-- Logback Configuration for Scratch -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %message %n</pattern>
    </encoder>
  </appender>

  <logger name="org.strykeforce.thirdcoast" level="DEBUG"/>
  <logger name="org.eclipse.jetty" level="INFO"/>

  <root level="verbose">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>